@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Poznamky.Models;
@model Poznamkyy;
@{
    Layout = "_Layout";

}
<h1 style="border-bottom:solid black 3px">@Model.Nadpis</h1>
<p>@Model.Text</p>

<div style="text-align: center; margin: 0, auto;">
    <a style="text-decoration:none;background-color: cyane;border: 2px solid black;margin: 0, auto;" href="/Poznamkyy/smazat_poznamku/@Model.Id"> Smazat poznámku </a>
</div>