@inject Microsoft.AspNetCore.Http.IHttpContextAccessor p


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Poznamky</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Poznamky.styles.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <div>
            <a href="/Home/index">Home</a>
            <a href="/Uzivatel/prihlaseni">Prihlasit</a>
            <a href="/Uzivatel/registrovani">Registrovat</a>
            <a href="/Poznamkyy/pridat_poznamku">Přidat poznámku</a>
            <a style="font-weight:bold;" href="/Uzivatel/Odhlasit">Odhlasit</a>
            
            
            @if (p.HttpContext.Session.GetString("Jmeno_Prihlaseni") != null)
            {
                <span>Jste přihlášen jako: @p.HttpContext.Session.GetString("Jmeno_Prihlaseni")</span>
            }
        </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p style="text-align: center;">kopirajt</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
