@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<p>Ahoj</p>
<div>
    <p style="font-size:large;">@ViewData["chyba"]</p>
    <form action="/Uzivatel/prihlaseni" method="post">
        <input type="text" name="jmeno" placeholder="Zadej jméno..." /><br />
        <input type="password" name="heslo" placeholder="Zadej heslo..." /><br />
        <input type="submit" value="Ověřit"/>
    </form>
</div>